<div class="container">
    <h1 class="text-center">Liste des Utilisateurs</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr class="tableHeader">
                    <th>Id</th>
                    <th>username</th>
                    <th>email</th>
                    <th>Roles</th>
                    <th>etat</th>
                    
                    <th></th>
                    <th></th>

                </tr>
                <tbody *ngFor="let u of users">
                    <tr *ngIf="u.emailConfirmed==true">
                    <!-- <tr> -->
                        <td>{{u.user_id}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.email}}</td>
                        <td>
                            <span *ngFor="let r of u.roles">
                              

                                <span  *ngIf="r.role!=u.roles[u.roles.length-1].role"
                                >
                            {{r.role}} | 
                            </span>
                            <span  *ngIf="r.role==u.roles[u.roles.length-1].role"
                            >
                        {{r.role}}
                        </span>
                            
                            </span>
                        </td>

                        <td>
                            <!-- checkbox -->

                            <!-- <input type="checkbox" [checked]="u.enabled" role="switch" (change)="toggleEtat(u)" /> -->
                          
                              <div class="custom-control custom-switch">
                                <input type="checkbox" [checked]="u.enabled" role="switch" (change)="toggleEtat(u)" class="custom-control-input" [id]="'s'+u.user_id">
                                <label class="custom-control-label" for="s{{u.user_id}}" ></label>
                              </div>  
                           </td>
                    


        
                        <td ><a  class="btn btn-danger" (click)="onDeleteUser(u.user_id)" >Supprimer</a></td>
                        <td ><a class="btn btn-warning"  [routerLink]="['/updateUser',u.user_id]">Modifier</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>